<section id="cart_items">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="page-header">
        <h3>Edit <%= resource_name.to_s.humanize %></h3>
      </div>
      <div class="cart_info">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

            <div class="form-group">
              <%= f.label :first_name %>
              <%= f.text_field :first_name, class: 'form-control', autofocus: true %>
            </div>

            <div class="form-group">
              <%= f.label :last_name %>
              <%= f.text_field :last_name, class: 'form-control', autofocus: true %>
            </div>

            <div class="form-group">
              <%= f.label :contact %>
              <%= f.text_field :contact, class: 'form-control', autofocus: true %>
            </div>

            <div class="form-group">
              <%= f.label :address %>
              <%= f.text_field :address, class: 'form-control', autofocus: true %>
            </div>

            <div class="form-group">
              <%= f.label :email %>
              <%= f.email_field :email, class: 'form-control', autofocus: true %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="form-group">
              <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
              <%= f.password_field :password, class: 'form-control', autocomplete: "off" %>
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "off" %>
            </div>

            <div class="form-group">
              <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
              <%= f.password_field :current_password,  class: 'form-control', autocomplete: "off" %>
            </div>

            <div class="form-group text-center">
              <%= f.submit "Update", class: 'btn btn-info' %>
              <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %>
            </div>
        <% end %>
      </div>
    </div>
  </div>


</section> <!--/#cart_items-->


