<section id="form"><!--form-->
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <div class="login-form"><!--login form-->
          <h2>Create your account</h2>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= f.email_field :email,placeholder:'Email', autofocus: true %>
              <%= f.password_field :password,placeholder:'Password', autocomplete: "off" %>
              <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
              <%= f.password_field :password_confirmation, placeholder:'Confirm password',autocomplete: "off" %>
              <%= f.button "Sign up", type:'submit', class:'btn btn-default' %>
          <% end %>
        </div><!--/login form-->
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-4">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</section><!--/form-->



