<%- if devise_mapping.omniauthable? %>
    <%- resource_class.omniauth_providers.each do |provider| %>
        <%= link_to omniauth_authorize_path(resource_name, provider), class: "circle #{ provider }" do %>
            <i class="fa fa-<%= provider %> fa-fw"></i>
        <% end %>
    <% end -%>
<% end -%>
