<div class="modal-header">
  <a  class="close" data-dismiss="modal" aria-hidden="true">×</a>
  <h4 class="modal-title">Login with</h4>
</div>
<div class="modal-body">
  <div class="box">
    <div class="content">
      <div class="social">
        <%= render 'devise/shared/social_login' %>
      </div>
      <div class="division">
        <div class="line l"></div>
        <span>or</span>
        <div class="line r"></div>
      </div>
      <div class="error"></div>
      <div class="form loginBox">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name, format: :json), remote: true, html:{ id: 'user-sign-in' }) do |f| %>
            <%= f.email_field :email, class: 'form-control', placeholder: 'Email'  %>
            <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
            <%= f.submit 'Login', class:"btn btn-default btn-login" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class="forgot login-footer">
    <span>Looking to
      <%= link_to 'create an account', new_user_registration_path(is_modal_open: true), remote: true %>?
    </span>
  </div>
  <div class="forgot login-footer">
    <%= render "devise/shared/links" %>
  </div>
</div>
<script type="text/javascript">
    $(function(){
        $('#user-sign-in').on('ajax:success', function (event, data, status, xhr) {
            if (data.success) {
                $('#error').removeClass('alert alert-danger');
                window.location.href = data.redirect_path;
            }
            else {
                var messageContent = '<div class="alert alert-danger">' + data.message + '</div>';
                shakeModal();
                $('.error').html(messageContent);
            }
        });
    });
</script>
