<div class="brands-name">
  <ul class="nav nav-pills nav-stacked">
    <% global_brands.each  do |brand| %>
        <li>
          <%= link_to brand_products_path(brand.name) do %>
              <span class="pull-right"> (<%= brand.products.count if brand.products.present? %>) </span><%= brand.name %>
          <% end %>
          <a href="#"> </a>
        </li>
    <% end %>
  </ul>
</div>
