<% if current_cart.cart_items.present? %>
    <% current_cart.cart_items.each do |cart_item| %>
        <% if cart_item.quantity > 0 %>
            <li>
              <span class="cd-qty"><%= cart_item.quantity %>x</span> <%= cart_item.product.name %>
              <div class="cd-price"> &#2547; <%= cart_item.product.price * cart_item.quantity %></div>
              <%= link_to '', cart_path(cart_item) , remote: true, method: :delete, class:" cd-item-remove cd-img-replace " %>
            </li>
        <% end %>
    <% end %>
<% else %>
    <hr/>
    <h3 class="text-center"> Cart Empty!</h3>
    <hr/>
<% end %>
