<% global_categories.each do |category| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordian" href="#<%= category.name.downcase %>">
            <% if category.sub_categories.present? %>
                <span class="badge pull-right"><i class="fa fa-plus"></i></span>
            <% end %>
            <%= category.name %>
          </a>
        </h4>
      </div>
      <div id="<%= category.name.downcase %>" class="panel-collapse collapse reset-padding">
        <div class="panel-body">
          <ul class="reset-margin">
            <% category.sub_categories.each do |sub_category| %>
                <li>
                  <%= link_to category_products_path(category.name, sub_category.name) do%>
                      <%= sub_category.name %>
                  <% end %>
                </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
<% end %>
