<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <span class="glyphicon glyphicon-user"></span>
    <strong><%= current_user.first_name %></strong>
    <span class="glyphicon glyphicon-chevron-down"></span>
  </a>
  <ul class="dropdown-menu user-dropdown">
    <li>
      <div class="navbar-login">
        <div class="row">
          <div class="col-lg-4">
            <p class="text-center">
              <span class="glyphicon glyphicon-user icon-size"></span>
            </p>
          </div>
          <div class="col-lg-8">
            <p class="text-left"><strong> <%= current_user.full_name %></strong></p>
            <p class="text-left small"><%= current_user.email %> </p>
            <p class="text-left">
              <%= link_to 'Profile', edit_user_registration_path,  class: 'btn btn-primary btn-block btn-sm' %>
            </p>
          </div>
        </div>
      </div>
    </li>
    <li class="divider navbar-login-session-bg"></li>
    <!--<li class="divider"></li>-->
    <li>
      <%= link_to destroy_user_session_path, method: :delete do %>
          Sign Out <span class="glyphicon glyphicon-log-out pull-right"></span>
      <% end %>
    </li>
  </ul>
</li>
