<div id="cd-cart-trigger">
  <span class="badge"> <%= current_cart_items %> </span>
  <i class="fa fa-shopping-cart fa-2x"></i>
</div>
<div id="cd-shadow-layer"></div>
<div id="cd-cart">
  <div class="cart-header" id="cart-header">
    <%= render 'shared/cart_header' %>
  </div>

  <ul id="cart-items" class="cd-cart-items">
    <%= render 'shared/cart_item' %>
  </ul> <!-- cd-cart-items -->

  <div class="cd-cart-total" id="total-cart">
    <%= render 'shared/total_cart' %>
  </div> <!-- cd-cart-total -->
  <% if user_signed_in? %>
      <%= link_to 'Checkout', orders_path(cart: current_cart), method: :post, class: 'checkout-btn' %>
  <% end %>

  <p class="cd-go-to-cart">
    <%= link_to 'Go to cart page', carts_path %>
  </p>
</div> <!-- cd-cart -->
