<!-- CTA -->
<section id="cta" class="footer-wrapper style3">
  <h2>Sed faucibus et consequat</h2>
  <ul class="actions">
    <li><a href="#" class="button big">Get Started</a></li>
  </ul>
</section>

<!-- Footer -->
<footer id="footer">
  <ul class="icons">
    <li><a href="#" class="fa fa-twitter"><span class="label">Twitter</span></a></li>
    <li><a href="#" class="fa fa-facebook"><span class="label">Facebook</span></a></li>
    <li><a href="#" class="fa fa-instagram"><span class="label">Instagram</span></a></li>
    <li><a href="#" class="fa fa-dribbble"><span class="label">Dribbble</span></a></li>
    <li><a href="#" class="fa fa-envelope"><span class="label">Envelope</span></a></li>
  </ul>
  <ul class="menu">
    <li><a href="#">FAQ</a></li>
    <li><a href="#">Terms of Use</a></li>
    <li><a href="#">Privacy</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
				<span class="copyright">
					&copy; Copyright. All rights reserved. Design by <a href="http://www.html5webtemplates.co.uk">RocketSofts</a>
				</span>
</footer>
