<header class="cd-main-header">
  <%= link_to root_path, class: 'cd-logo' do %>
        <%= image_tag 'brand_logo.png' %>
  <% end %>
  <div class="cd-search is-hidden">
    <form action="#0">
      <input type="search" placeholder="Search...">
    </form>
  </div> <!-- cd-search -->

  <a href="#0" class="cd-nav-trigger">
    <span></span>
  </a>

  <nav class="cd-nav">
    <ul class="cd-top-nav">
      <% if user_signed_in? %>
          <li>
            <%= link_to  wishlists_path do %>
              <i class="fa fa-hear"></i> Wishlist
            <% end %>
          </li>
          <li>
            <%= link_to 'Orders', orders_path %>
          </li>
          <li class="has-children account">
            <a href="#0">
              <i class="fa fa-user" ></i>
              Account
            </a>
            <ul>
              <li>
                <%= link_to 'My Account', edit_user_registration_path %>
              </li>
              <li>
                <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </li>
      <% else %>
          <li>
            <%= link_to new_user_session_path, remote: true do %>
              <i class="fa fa-sign-in" aria-hidden="true"></i>
              Login
            <% end %>
          </li>
      <% end %>
    </ul>
  </nav>
</header> <!-- .cd-main-header -->