<% if products.present? %>
    <ul class="product-list-small">
      <% products.each do |product| %>
          <li>
            <%= link_to product_path(product), class:'product-photo' do%>
                <%= image_tag( product.image.present? ? product.image_url(:thumb) : "default_product_icon.png"  ) %>
            <% end %>

            <h2><%= link_to product.name.upcase , product_path(product), class:'product-photo' %></h2>

            <a href="#" class="product-compare">compare</a>

            <div class="product-rating">
              <div>
            <span class="product-stars" style="width: 60px" >
                <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            </span>
              </div>
              <span><a href="#">82 reviews</a></span>
            </div>

            <p class="product-description">
              <%= truncate(product.description, length: 50) %>
            </p>

            <% if product.is_available %>
                <div class="btn-group add-to-cart" role="group" id="add-to-cart-<%= product.id %>">
                  <%=raw add_to_cart_text(product) %>
                </div>
            <% else %>
                <span class="product-out-of-stock">Out of stock</span>
            <% end %>
            <p class="product-price"> &#2547; <%= product.price %></p>

          </li>
      <% end %>
    </ul>
<% else %>
    <div class="no-products">
      <div class="no-products-message">
        <h2>There's no products. Please explore another category or brand..</h2>
      </div>
    </div>
<% end %>


