<nav class="cd-side-nav">
  <ul>
    <li class="cd-label">Main</li>
    <li class="has-children overview <%= activation_checker(root_path)  %>">
      <%= link_to 'Homepage', root_path %>
    </li>
    <% global_categories.each do |category| %>
        <li class="has-children notifications <%= activation_checker(category_products_path(category.name, 'category'))  %>">
          <a href="javascript:void(0)"><%= category.name %></a>

          <ul>
            <% category.sub_categories.each do |sub_category| %>
                <li>
                  <%= link_to category_products_path(category.name, sub_category.name) do%>
                      <%= sub_category.name %>
                  <% end %>
                </li>
            <% end %>
          </ul>
        </li>
    <% end %>

  </ul>
  <ul>
    <li class="cd-label">Brand</li>
    <li>
      <input type="range" name="range_filter">
    </li>
  </ul>

  <ul>
    <li class="cd-label">Brand</li>
    <% global_brands.each do |brand| %>
        <li class="has-children bookmarks <%= activation_checker(brand_products_path(brand.name)) %>">
          <%= link_to brand_products_path(brand.name) do %>
            <%= brand.name %>
          <% end %>
        </li>
    <% end %>
  </ul>

  <ul>
    <li class="cd-label">Action</li>
    <li class="action-btn"><a href="#0">+ Button</a></li>
  </ul>
</nav>
