<%= form_for(@order) do |f| %>
  <div class="form-group">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="form-group">
    <%= f.label :is_delivered %><br>
    <%= f.check_box :is_delivered %>
  </div>
  <div class="form-group">
    <%= f.label :is_checked %><br>
    <%= f.check_box :is_checked %>
  </div>
  <div class="form-group">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="form-group">
    <%= f.label :items %><br>
    <%= f.number_field :items %>
  </div>
  <div class="form-group">
    <%= f.label :total_price %><br>
    <%= f.text_field :total_price %>
  </div>
  <div class="form-group">
    <%= f.button 'Update', class: 'btn btn-default' %>
  </div>
<% end %>
