<section id="cart_items">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="page-header">
        <h3>Orders items by <%= current_user.first_name  %></h3>
      </div>
      <div class="cart_info">
        <% if @orders.present? %>
            <table class="table table-responsive">
              <thead>
              <tr>
                <th>Order ID</th>
                <th>Delivery Status</th>
                <th>Confirmation Status</th>
                <th> Order Status </th>
                <th>Items</th>
                <th colspan="3"></th>
              </tr>
              </thead>

              <tbody>
              <% @orders.each do |order| %>
                  <tr>
                    <td><%= order.serial_no %></td>
                    <td><%= order.is_delivered ? 'Delivered' : 'Not Delivered' %></td>
                    <td><%= order.is_checked ? 'Confirmed' : 'Unconfirmed' %></td>
                    <td><%= Order::STATUS[order.status.to_sym] %></td>
                    <td><%= order.items %></td>
                    <td>
                      <%= link_to  order do %>
                        <i class="fa fa-cart-arrow-down"></i>
                      <% end %>
                    </td>
                    <td>
                      <% unless order.is_checked %>
                          <%= link_to order, method: :delete, data: { confirm: 'Are you sure?' } do %>
                            <i class="fa fa-trash"></i>
                          <% end %>
                      <% end %>

                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>
        <% else %>
            <div class="alert alert-info">
              <h2 class="text-center">No item found</h2>
            </div>
        <% end %>
      </div>
    </div>
  </div>


</section> <!--/#cart_items-->
