<div class="panel panel-default">
  <div class="panel-body">
    <div class="page-header">
      Order no <i><%= @order.serial_no %></i>
    </div>
      <table class="table table-responsive">
        <thead>
        <tr>
          <th>Product Name</th>
          <th>Quantity</th>
          <th>price</th>
          <th>Total</th>
        </tr>
        </thead>
        <tbody>
        <% @order.stores.each do |item| %>
            <tr>
              <td><%= item.product.name %></td>
              <td> <%= item.quantity %></td>
              <td> &#2547; <%= item.product.price %></td>
              <td> &#2547; <%= item.product.price * item.quantity  %></td>
            </tr>
        <% end %>
        </tbody>
      </table>

    <hr>
    <%= link_to 'Back', orders_path , class: 'btn btn-default' %>
  </div>
</div>