<section id="cart_items">
 <div class="panel panel-default">
   <div class="panel-body">
     <div class="page-header">
       <h3>Carts items</h3>
       <div class="actions">
         <%= link_to remove_cart_path(current_cart), remote: true, class: 'btn btn-danger reset-border-radius' do %>
             <i class="fa fa-trash"></i>
          <% end %>

       </div>
     </div>
     <div class="cart_info">
       <% if @carts.present? %>
           <table class="table table-responsive table-condensed">
             <thead>
             <tr class="cart_menu">
               <td class="image">Item</td>
               <td class="description">Description</td>
               <td class="price">Price</td>
               <td class="quantity">Quantity</td>
               <td class="total">Total</td>
               <td></td>
             </tr>
             </thead>
             <tbody id="cart_showcase">
             <% @carts.each do |cart| %>
                 <% if cart.quantity > 0 %>
                     <tr id="cart-item-<%= cart.id %>">
                       <td class="cart_product">
                         <%= link_to product_path(cart.product) do%>
                             <%= image_tag( cart.product.image_url.present? ? cart.product.image_url(:small_thumb) : 'default_product_icon.png' ) %>
                         <% end %>
                       </td>
                       <td class="cart_description">
                         <h4>
                           <%= link_to product_path(cart.product) do%>
                               <%= cart.product.name %>
                           <% end %>
                         </h4>
                         <p>
                           <%= cart.product.u_id %>
                         </p>
                       </td>
                       <td class="cart_price">
                         <p>
                           &#2547; <%= cart.product.price %>
                         </p>
                       </td>
                       <td class="cart_quantity">
                         <div class="btn-group add-to-cart" role="group" id="add-to-cart-<%= cart.product_id %>">
                           <%=raw add_to_cart_text(cart.product) %>
                         </div>
                       </td>
                       <td class="cart_total">
                         <p class="cart_total_price">
                           &#2547; <%= cart.product.price * cart.quantity %>
                         </p>
                       </td>
                       <td class="cart_delete">
                         <%= link_to cart_path(cart), remote: true, method: :delete, class:'cart_quantity_delete' do%>
                             <i class="fa fa-times"></i>
                         <% end %>
                       </td>
                     </tr>
                 <% end %>
             <% end %>
             <tr>
               <td class="cart_product"> Total </td>
               <td></td>
               <td class='cart_price'></td>
               <td></td>
               <td class="cart_total">
                 <p class="cart_total_price">
                   &#2547; <%= total_price %>
                 </p>
               </td>
               <td></td>
             </tr>
             </tbody>
           </table>
           <div class="text-center">
             <%= place_order_link %>
           </div>
       <% else %>
            <div class="alert alert-info">
              <h2 class="text-center">No item found</h2>
            </div>
       <% end %>
     </div>
   </div>
 </div>


</section> <!--/#cart_items-->
