$('#cart_showcase').html('');
$('#cart-badge').find('.badge-notify').html('<%= current_cart_items.to_i %>');
$('#cart-header').html('<%= escape_javascript( render 'shared/cart_header' ).html_safe %>');
$('#cd-cart-trigger').find('.badge').html('<%=  current_cart_items.to_i  %>');
$('#cart-items').html('<%= escape_javascript( render 'shared/cart_item' ).html_safe %>');
$('#total-cart').html('<%= escape_javascript( render 'shared/total_cart').html_safe %>');
<% @cart_items.each do |cart_item| %>
$('#add-to-cart-<%= cart_item.product_id %>').html('<%= escape_javascript( add_to_cart_text( cart_item.product )  ).html_safe %>');
<% end %>

