<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @cart.product_id %>
</p>

<p>
  <strong>Order:</strong>
  <%= @cart.order_id %>
</p>

<p>
  <strong>Items:</strong>
  <%= @cart.items %>
</p>

<p>
  <strong>Total price:</strong>
  <%= @cart.total_price %>
</p>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
