<% unless @cart_item.errors.present? %>
$('#cart-item-<%= @cart_item.id %>').find('.cart_quantity_input').val(<%= @cart_item.quantity %>);
$('#cd-cart-trigger').find('.badge').html('<%=  current_cart_items.to_i  %>');
$('#cart-items').html('<%= escape_javascript( render 'shared/cart_item' ).html_safe %>');
$('#total-cart').html('<%= escape_javascript( render 'shared/total_cart').html_safe %>');
$('#add-to-cart-<%= @cart_item.product_id %>').html('<%= escape_javascript( add_to_cart_text( @cart_item.product )  ).html_safe %>');
<% end %>
