<section id="form"><!--form-->
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <div class="login-form"><!--login form-->
          <h2>Login to your account</h2>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <%= f.email_field :email,placeholder:'Email', autofocus: true %>
              <%= f.password_field :password,placeholder:'Password', autocomplete: "off" %>
                <span>
                    <% if devise_mapping.rememberable? -%>
                      <%= f.check_box :remember_me, class: 'checkbox' %>
                      <%= f.label :remember_me %>
                    <% end -%>
                </span>
              <%= f.button "Log in", type:'submit', class:'btn btn-default' %>
          <% end %>
        </div><!--/login form-->
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-4">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</section><!--/form-->


