/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require nprogress
 *= require nprogress-bootstrap
 *= require nprogress-turbolinks5
 *= require_self
 */

.spinner-custome{
  background:rgba(67, 87, 121, 0.6) none repeat scroll 0 0;
  font-size: 40px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 9999999;
  opacity: .5;
  i {
    position: absolute;
    left: 45%;
    top: 45%;
    color: #074e66;
  }
}



.reset-padding {
  padding: 0 !important;
}
.reset-margin {
  margin: 0 !important;
}
.reset-border-radius {
  border-radius: 0 !important;
}