#cart_items .cart_info {
  border: 1px solid #E6E4DF;
  margin-bottom: 50px
}


#cart_items .cart_info .cart_menu {
  background: #FE980F;
  color: #fff;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

#cart_items .cart_info .table.table-responsive thead tr {
  height: 51px;
}


#cart_items .cart_info .table.table-responsive tr {
  border-bottom: 1px solid#F7F7F0
}

#cart_items .cart_info .table.table-responsive tr:last-child {
  border-bottom: 0
}

.cart_info table tr td {
  border-top: 0 none;
  vertical-align: inherit;
}


#cart_items .cart_info .image {
  padding-left: 30px;
}


#cart_items .cart_info .cart_description h4 {
  margin-bottom: 0
}

#cart_items .cart_info .cart_description h4 a {
  color: #363432;
  font-family: 'Roboto',sans-serif;
  font-size: 20px;
  font-weight: normal;

}

#cart_items .cart_info .cart_description p {
  color:#696763
}


#cart_items .cart_info .cart_price p {
  color:#696763;
  font-size: 18px
}


#cart_items .cart_info .cart_total_price {
  color: #FE980F;
  font-size: 24px;
}

.cart_product {
  display: block;
  margin: 15px -70px 10px 25px;
  font-weight: bold;
  font-size: 25px;
}

.cart_quantity {
  .btn{
    min-width: auto !important;
  }
}


.cart_delete  {
  display: block;
  overflow: hidden;
}


.cart_delete a {
  background:#F0F0E9;
  color: #FFFFFF;
  padding: 5px 7px;
  font-size: 16px
}

.cart_delete a:hover {
  background:#FE980F
}



@media screen and (max-width: 768px){
  .cart_product {
      display: none;
    }
  .cart_menu{
    .price {
      display: none !important;
    }
    .image{
      display: none !important;
    }
  }

  .cart_price {
    display: none !important;
  }
}

@media screen and (max-width: 480px){

}

@media screen and (max-width: 320px) {

}
