
.product-list-small, .no-products{
  list-style:none;
  margin: 0 auto;
  //max-width: 900px;
  width: 100%;
  text-align: center;
  padding: 0;
}

.no-products{
  height: 60vh;
  padding-top: 25vh;
  .no-products-message{
    margin: auto;
    max-width: 900px;
    background: #E0555A;
    padding: 20px 10px 20px 10px;
    h2{
      font-size: 20px;
      color: #f2f2f2;
    }
  }
}

.product-list-small li{
  display: inline-block;
  box-sizing:border-box;

  text-align:left;
  font:bold 18px sans-serif;

  background-color:#ffffff;
  border:1px solid #dbe3e7;
  border-radius: 3px;
  box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.08);

  max-width:240px;
  margin: 10px;
  padding: 20px;
}

/* The product image */

.product-list-small .product-photo{
  display: block;
  text-align: center;
  /*box-shadow : 0 0 20px 8px #f3f3f3 inset;*/
  width: 200px;
  margin-bottom: 20px;
  padding: 12px 25px;
  box-sizing:border-box;
  img{
    width: 100%;
    height: 105px;
  }
}

/* The product name */

.product-list-small h2{
  display: block;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
  max-width: 200px;
  margin:0;
}

.product-list-small h2 a{
  text-decoration: none;
  color: #2b2b2b;
}

/* The star product rating */
.product-list-small .product-compare{

  color: #808080;
  text-decoration: none;

  margin-top: -16px;
}

/* Rating */

.product-list-small .product-rating div{
  display: inline-block;
  width: 80px;
  margin-top: 10px;
}

.product-list-small .product-rating .product-stars{
  display: inline-block;

  color: #f09911;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
}

.product-list-small .product-rating .product-stars i{
  margin-right: 2px;
}

.product-list-small .product-rating span{
  margin-bottom: -2px;
}

.product-list-small .product-rating span a{
  color: #808080;
  text-decoration: none;
}

.product-list-small .product-description{
  font-size: 14px;
  font-weight: normal;
  color: #5d5d5d;
  line-height: 1.45;

  margin-bottom: 20px;
}

.product-list-small .add-to-cart {
  border-radius: 2px;
  background-color:  #87bae1 !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  border: 0;
  color: #ffffff !important;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
  background-image: none;
  height: 34px;
  position: relative;
  padding: 0;
  &:hover {
    background-image: none;
  }
  .added-item{
    padding-right: 5px;
    padding-left: 8px;
  }
  span, i {
    display: inline-block;
  }

  .verticle-border{
    border-right: solid 2px #ddd;
    height: 100%;
  }
  .btn{
    padding: 9px 10px 0 10px;
    min-width: auto !important;
  }
}

.product-list-small .product-out-of-stock{
  color: #c15017;;
  font-weight: bold;
  line-height: 32px;

  width: 95px;
  height: 32px;
}

.product-list-small .product-price{
  float: right;

  color:  #4e4e4e;
  font-weight: bold;
  font-size: 20px;

  margin: 0;
}

/* Making the list responsive */

@media (max-width: 800px){

  .product-list-small .product-photo{
    width: 225px;
  }

  .product-list-small .product-description{
    max-width: 225px;
  }
}


