<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @wishlist.product_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @wishlist.user_id %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @wishlist.priority %>
</p>

<%= link_to 'Edit', edit_wishlist_path(@wishlist) %> |
<%= link_to 'Back', wishlists_path %>
