<!DOCTYPE html>
<html>
<head>
  <title>Duratta</title>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'shared/header' %>
<main class="cd-main-content">
  <%= render 'shared/side_nav' %>
  <div class="content-wrapper">
    <%= yield %>
    <%= render 'shared/footer' %>
  </div> <!-- .content-wrapper -->
  <%= render 'shared/fixed_cart' %>
</main> <!-- .cd-main-content -->
<%= render 'shared/flash' %>
<%= render 'shared/modal' %>

</body>
</html>
