<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h4 class="modal-title">Register with</h4>
</div>
<div class="modal-body">
  <div class="box">
    <div class="content registerBox">
      <div class="social">
        <a id="facebook_login" class="circle facebook" href="#">
          <i class="fa fa-facebook fa-fw"></i>
        </a>
      </div>
      <div class="division">
        <div class="line l"></div>
        <span>or</span>
        <div class="line r"></div>
      </div>
      <div class="error"></div>
      <div class="form">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name, format: :json),remote: true, html: { method: :post , id: 'user-registration'}) do |f| %>
            <%= f.text_field :first_name, class: 'form-control', placeholder: 'First Name'  %>
            <%= f.text_field :last_name, class: 'form-control', placeholder: 'Last Name'  %>
            <%= f.text_field :contact, class: 'form-control', placeholder: 'Contact No'  %>
            <%= f.email_field :email, class: 'form-control', placeholder: 'Email'  %>
            <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
            <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Repeat Password' %>
            <button class="btn btn-default btn-register"  name="commit">Create account </button>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class="forgot register-footer">
    <span>Already have an account?</span>
    <%= link_to 'Login', new_user_session_path(is_modal_open: true ), remote:true %>
  </div>
  <div class="forgot register-footer">
    <%= render 'devise/shared/links' %>
  </div>
</div>

<script type="text/javascript">
    $(function(){
        $('#user-registration').on('ajax:success', function( event, data, status, xhr ){
            if(data.success){
                window.location.href = data.redirect_path;
            }
            else{
                if(typeof data.message == 'undefined') {
                    window.location.href = '<%= root_path %>';
                }
                else {
                    var messageContent = '<div class="alert alert-danger">' + data.message + '</div>';
                    shakeModal();
                    $('.error').html(messageContent);
                }
            }
        });
    });
</script>
