<% unless params[:is_modal_open].present? && params[:is_modal_open] %>
$('#loginModal').modal('show').find('.modal-content').html('<%= escape_javascript( render 'users/registrations/form').html_safe %>');
<% else %>
$('#loginModal').find('.modal-content').html('<%= escape_javascript( render 'users/registrations/form').html_safe %>');
<% end %>

